<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanjiang.yjStaff.mapper.YjStaffMapper">

    <sql id="userColumns">
        s.staff_id,s.staff_name,s.staff_username,s.staff_pwd
    </sql>

    <sql id="usernameSql">
        <where>
            1 = 1
            <if test="userName != null and userName != '' ">
                AND s.staff_username = #{userName}
            </if>
            <if test="pwd != null and pwd != '' ">
                AND s.staff_pwd = #{pwd}
            </if>
        </where>
    </sql>

    <select id="selectByUserName" parameterType="String"
            resultType="com.yanjiang.yjStaff.domain.YjStaff">
        select
        <include refid="userColumns"/>
        from yj_staff s
        where s.staff_username=#{userName} AND s.staff_pwd=#{pwd}
    </select>

    <!--分页查询
  在mapper文件中用#{属性名}的是取传递过来的参数值,如果传递过来的参数是一个基本类型则可以用#{value}获取
  如果是pojo,则通过#{属性名}获取某个值-->
    <select id="selectPageBean"
            resultType="com.yanjiang.yjStaff.domain.YjStaff"
            parameterType="com.yanjiang.basis.utils.PageBean">
        SELECT
        staff_id, staff_name
        FROM `yj_staff` WHERE staff_name LIKE '%${parameter.staffName}%'
        LIMIT #{startIndex},#{pageSize}
    </select>

    <!--获取学生表总条数-->
    <select id="getTotalRecord"
            resultType="java.lang.Integer"
            parameterType="com.yanjiang.basis.utils.PageBean">
        SELECT COUNT(staff_id) FROM `yj_staff` WHERE staff_name LIKE '%${parameter.staffName}%'
    </select>


    <select id="selectAll" resultType="com.yanjiang.yjStaff.domain.YjStaff">
        SELECT
        <include refid="userColumns"/>
        FROM `yj_staff`
    </select>

    <select id="findToEmail" resultType="com.yanjiang.yjStaff.domain.YjStaff">
        SELECT
        <include refid="userColumns"/>
        FROM `yj_staff` s WHERE s.staff_email=#{email}
    </select>

    <!-- 获取权限 -->
    <select id="getRoles" parameterType="String" resultType="String">
        select d.dep_name
        from `yj_staff` s,`yj_department` d
        where s.staff_dep_id=d.dep_id
        and s.staff_username=#{userName}
    </select>


</mapper>